body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerDiv {
  border: solid lightgray;
  padding: 10px;
  /* color: red; */
}

input {
  margin-left: auto;
  border-radius: 10px;
  border: solid lightblue;
  /* margin: 10px; */
}

button {
  border-radius: 10px;
  border: solid lightblue;
  margin: 10px;
}

.profileCard {
  display: flex;
  border: solid lightgray;
  /* height: 30dvi; */
  width: 30%;
  background-color: cornflowerblue;
}

.sidebar {
  display: flex;
  border: solid lightgray;
  justify-content: center;
  /* height: 100px; */
  width: 20%;
  padding: 5%
}

.body {
  display: flex;
}