body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerDiv {
  border: solid lightgray;
  padding: 10px;
}

.searchInput {
  margin-left: auto;
  border-radius: 10px;
}

.tweetButton {
  border-radius: 10px;
  border: solid lightblue;
  margin: 10px;
}

.profileCard {
  border: solid lightgray;
}

.blue {
  background-color: dodgerblue;
  height: 10em;
}

.lightAndCentered {
  font-weight: lighter;
  text-align: center;
  white-space: pre;
}

.sidebar {
  border: solid lightgray;
  padding: 5%
}

.body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 1%;
}

.feed {
  border: solid lightgray;
  padding: 2%;
}

.topOfFeed {
  background-color: lightblue;
  padding: 2%;
}

.happeningInput {
  border-color: aqua;
}

.issueDivider {
  width: 80%;
  margin-left: 0;
}

.recommendedSidebar {
  border: solid lightgray;
  padding: 5%;
}

.recommendedButton {
  background-color: blue;
  color: white;
}

.left {
  flex: 0 0 29%;
}

.center {
  flex: 1 0 39%;
}

.right {
  flex: 1 0 29%;
}

.page {
  margin: 1%;
}

.bold {
  font-weight: bold;
}